// base.scss

@import "compass/reset";
@import "header";
@import "footer";

body {
	color: #444;
	//background-image: url("../image/background.jpg");
	font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", "Segoe UI", "Meiryo", "Questrial", sans-serif;
	min-width: 800px; // debug!
}

p {
	margin: 12px 0;
}

section.main-content-outer {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
	
	header.page-title {
		font-family: "Questrial";
		font-size: 48px;
		color: #d55;
		padding: 12px 24px;
	}
	section.main-content {
		margin: 24px;
		box-sizing: border-box;
	}
}

// markdown

h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	margin: 20px 0; 
}
h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p {
	margin: 20px 0;
	line-height: 140%;
}