// base.scss

@import "compass/reset";
@import "header";
@import "footer";

body {
	color: #444;
	font-family: "Yu Gothic", "Hiragino Kaku Gothic ProN", "Segoe UI", "Meiryo", sans-serif;
	min-width: 800px; // debug!
}

p {
	margin: 12px 0;
}