<footer>
	<section>
		<p class="thanks">
			Hosted on Github Pages<br />
			Powered by Jekyll
		</p>
		<p class="copyright">Copyright &copy; 2015 re-mi
			<i class="fa fa-star-o"></i> All rights reserved.</p>
	</section>
</footer>