<footer>
	<section>
		<p class="thanks">Powered by
			<br />Github Pages / Jekyll / Font Awesome / Google Fonts / Compass</p>
		<p class="copyright">Copyright &copy; 2015 re-mi
			<i class="fa fa-star-o"></i>All rights reserved.</p>
	</section>
</footer>