<footer>
	<section>
		<a 	data-scroll
			href="#top"
			class="button-backtotop">
			<i class="fa fa-chevron-circle-up fa-lg"></i> page top
		</a>
		<p class="share">
			<a href="https://twitter.com/share" class="twitter-share-button"
				data-count="vertical"
				>Tweet</a>
		</p>
		<p class="thanks">
		</p>
		<p class="copyright">Copyright &copy; 2015 re-mi
			<i class="fa fa-star-o"></i> All rights reserved.</p>
	</section>
</footer>