<header class="main-header">
	<div class="title">
		<img src="image/id_logo.svg" alt="logo">
		<span class="subtitle">official website</span>
	</div>
	<div class="menu">
		<a href="/" class="current">top</a>
		<a href="#">news</a>
		<a href="#">live</a>
		<a href="#">disco<br />graphy</a>
		<a href="#">profile</a>
		<a href="http://iiriyaa.blog23.fc2.com/"
			target="_blank">blog</a>
		<a href="#">contact</a>
	</div>
</header>