<header>
	<div class="title">
		<img src="image/id_logo.svg" alt="logo">
		<span class="subtitle">official website</span>
	</div>
	<ul class="menu">
		<li class="current">home</li>
		<li>news</li>
		<li>live</li>
		<li>disco<br>graphy</li>
		<li>profile</li>
		<li>blog</li>
		<li>contact</li>
	</ul>
</header>