<header>
	<div class="title">
		re-mi
		official website
	</div>
	<ul class="menu">
		<li>home</li>
		<li>news</li>
		<li>live</li>
		<li>discography</li>
		<li>profile</li>
		<li>blog</li>
		<li>contact</li>
	</ul>
</header>