{% assign base = '' %}
{% assign depth = page.url | append:'foo' | split: '/' | size | minus:1 %}
{% if    depth == 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}
{% elsif depth == 5 %}{% assign base = '../../../..' %}
{% elsif depth == 6 %}{% assign base = '../../../../..' %}
{% endif %}

<meta charset="UTF-8">
<meta name="generator" content="Microsoft Visual Studio Code">
<meta name="author" content="Yadex205 <yadex205@outlook.jp>">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="{{ base }}/css/base.css">
<link rel="stylesheet" href="{{ base }}/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
{% if page.extracss != null %}
<link rel="stylesheet" href="{{ base }}{{page.extracss}}">
{% endif %}

<script src="{{ base }}/js/smooth-scroll.min.js"></script>
<script src="{{ base }}/js/app.js"></script>
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
    js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
  return t;
}(document, "script", "twitter-wjs"));
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% if page.title == null %}
<title>れーみ&#x2606; official website</title>
{% else %}
<title>れーみ&#x2606; - {{ page.title }}</title>
{% endif %}