<footer>
	<section>
		<a 	data-scroll 
			href="#top" 
			class="button-backtotop">
			<i class="fa fa-chevron-circle-up fa-lg"></i> page top
		</a>
		<div class="share">
			<a href="https://twitter.com/share" class="twitter-share-button"
				data-count="vertical"
				data-text="れーみ&#x2606; official website"
				data-url="http://remi-star.com"
				>Tweet</a>
			<div class="fb-share-button"
				data-layout="box_count"
				data-href="http://remi-star.com"
			></div>
		</div>
		<p class="copyright">
			Hosted on GitHub Pages<br />
			<a href="{{ page.url | ptr }}/policy/">Site Policy</a> | 
			Copyright &copy; re-mi<i class="fa fa-star-o"></i> All rights reserved.
		</p>
	</section>
</footer>