<footer>
	<section>
		<a data-scroll="" href="#top" class="button-backtotop">
			<i class="fa fa-chevron-circle-up fa-lg"></i> page top
		</a>
		<div class="share">
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-text="れーみ&#x2606; official website" data-url="http://www.remi-star.com">Tweet</a>
		</div>
		<p class="copyright">
			<a href="{{ page.url | ptr }}/policy/">Site Policy</a><br />
			Copyright &copy; re-mi<i class="fa fa-star-o"></i> All rights reserved.
		</p>
	</section>
</footer>