<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
</head>
<body>
	<% include common/_header %>
	<section class="main-content-outer">
		<header class="page-title">{{ page.displaytitle }}</header>
		<section class="main-content">
			{{ content }}
		</section>
	</section>
	<% include common/_footer %>
</body>
</html>