<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<title>れーみ&#x2606; - Discography</title>
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		<header class="page-title">discography</header>
	</section>
	<% include common/_footer %>
</body>
</html>