<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<link rel="stylesheet" href="{{ base }}/css/pages/index.css">
	<title>れーみ&#x2606;</title>
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		<div class="top-picture"
			style="
				background-image: url('image/index-large/00.jpg');
				background-size: cover;
				background-position: 35%;
			">
			<div class="extra-link">
				
			</div>
			<div class="update-info-picture"
				style="
					background-image: url('image/id.jpg');
				">
			</div>
			<div class="update-info-text">
				{% for post in site.posts limit:1 %}
				{% if post.tags contains "news" %}
				<div class="date">
					{{ post.date | date: '%Y.%m.%d' }}
				</div>
				<div class="text">
					{{ post.title }}
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="bottom-contents">
			<section class="news">
				<header>News</header>
				{% for post in site.posts limit:3 %}
				{% if post.tags contains "news" %}
				<div class="post-thumb">
					<div class="date">
						{{ post.date | date: '%Y.%m.%d' }}
					</div>
					<div class="title">
						{{ post.title }}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</section>
			<section class="live">
				<header>Live</header>
				{% for post in site.posts limit:3 %}
				{% if post.tags contains "live" %}
				<div class="post-thumb">
					<div class="date">
						{{ post.date | date: '%Y.%m.%d' }}
					</div>
					<div class="title">
						{{ post.title }}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</section>
			<section class="twitter">
				<a class=twitter-timeline href=https://twitter.com/remiriya27 data-widget-id=607049707467120641 data-link-color=#d55 data-chrome=nofooter data-border-color=#ffc6d1 data-tweet-limit=3>Tweets from @remiriya27</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</section>
		</div>
	</section>
	<% include common/_footer %>
</body>
</html>