<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<link rel="stylesheet" href="{{ base }}/css/pages/index.css">
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		<div class="top-picture"
			style="
				background-image: url('image/index-large/00.jpg');
				background-size: cover;
				background-position: 35%;
			">
			<div class="extra-link">
				
			</div>
			<div class="update-info-picture"
				style="
					background-image: url('image/id.jpg');
				">
			</div>
			<div class="update-info-text">
				{% assign post = site.categories.news[0] %}
				<div class="date">
					{{ post.date | date: '%Y.%m.%d' }}
				</div>
				<div class="text">
					{{ post.title }}
				</div>
			</div>
		</div>
		<div class="bottom-contents">
			<section class="news">
				<header>News</header>
				{% for post in site.categories.news limit:3 %}
				<div class="post-thumb">
					<div class="date">
						{{ post.date | date: '%Y.%m.%d' }}
					</div>
					<div class="title">
						<a href="{{ base }}{{ post.url }}">{{ post.title }}
							<i class="fa fa-arrow-circle-right fa-lg"></i></a>
					</div>
				</div>
				{% endfor %}
			</section>
			<section class="live">
				<header>Live</header>
				{% for post in site.categories.live limit:3 %}
				<div class="post-thumb">
					<div class="date">
						{{ post.date | date: '%Y.%m.%d' }}
					</div>
					<div class="title">
						{{ post.title }}
					</div>
				</div>
				{% endfor %}
			</section>
			<section class="twitter">
				<a class=twitter-timeline href=https://twitter.com/remiriya27 data-widget-id=607049707467120641 data-link-color=#d55 data-chrome=nofooter data-border-color=#ffc6d1 data-tweet-limit=3>Tweets from @remiriya27</a>
			</section>
		</div>
	</section>
	<% include common/_footer %>
</body>
</html>