<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<title>Document</title>
</head>
<body>
	<% include common/_header %>
		<section class="main-content">
			live
		</section>
	<% include common/_footer %>
</body>
</html>