<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<link rel="stylesheet" href="css/pages/news.css">
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
	</section>
	<% include common/_footer %>
</body>
</html>