<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<link rel="stylesheet" href="{{ base }}/css/pages/news.css">
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		<header class="page-title">news</header>
		{% for post in site.posts %}
		{% if post.category == "news" %}
			<article class="post">
				<div class="date">
					{{ post.date | date: '%Y.%m.%d'}}
				</div>
				<div class="text">
					<div class="title">
						<a href="{{ base }}{{ post.url }}">{{ post.title }}</a>
							<i class="fa fa-arrow-circle-right fa-lg"></i></a>
					</div>
					<div class="content">
						{{ post.content }}
					</div>
				</div>
			</article>
		{% endif %}
		{% endfor %}
	</section>
	<% include common/_footer %>
</body>
</html>