<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		<header class="page-title">profile</header>
	</section>
	<% include common/_footer %>
</body>
</html>