<!DOCTYPE html>
<html>
<head>
	<% include common/_meta %>
	<title>れーみ&#x2606;{{ page.title }}</title>
</head>
<body>
	<% include common/_header %>
	<section class="main-content">
		{{ content }}
	</section>
	<% include common/_footer %>
</body>
</html>