<!DOCTYPE html>
<html>
<head>
	{% include _meta.html %}
	<link rel="stylesheet" href="{{ page.url | ptr }}/css/pages/news.css">
</head>
<body>
	{% include _header.html %}
	<section class="main-content-outer">
		<header class="page-title">{{ page.category }}</header>
		<section class="main-content">
			<article class="post">
				<div class="date">
					{{ page.date | date: '%Y.%m.%d' }}
				</div>
				<div class="text">
					<div class="title">
						{{ page.title }}
					</div>
					<div class="content">
						{% if page.category == "live" %}
						place: {{page.place}}
						{% endif %}
						{{ content }}
					</div>
					<div class="share-post">
						<a href="https://twitter.com/share" class="twitter-share-button"
							data-text="{{ page.title }} - れーみ&#x2606; official website"
							data-url="http://remi-star.com{{page.url}}"
							></a>
						<div class="fb-share-button"
							data-layout="button_count"
							data-href="http://remi-star.com{{page.url}}"></div>
					</div>
				</div>
			</article>
		</section>
	</section>
	{% include _footer.html %}
</body>
</html>